*{
  margin: 0;
  padding: 0;
}
.header{
  background-color: whitesmoke;
  width: 100%;
  height: 10vh;
}
.header__content{
  align-items: center;
  padding-top: 5px;
}
.header__content > img{
  height: 70px;
  width: 180px;
  padding-bottom: 15px;
  padding-left: 25px;
  float: left;
}
.fa-bars{
  padding-top: 25px;
  padding-left: 20px;
  font-size: 20px;
  float: left;
}
.button {
  float: right;
  background-color: rgb(52, 113, 194);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.searchbar{
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;
  
}

.searchbar > span > input{
  padding-left: 15px;
  float: left;
  width: 40vw;
  height:30px;
  margin: none;
  border: 2px solid rgb(216, 213, 213);
  border-radius: 6px;
}

.searchbar > span > button{
  float: right;
  margin: none;
  border: none;
  background-color: rgb(58, 131, 226);
  color: white;
  border-radius:3px;
  height: 29px;
  width: 45px;
  margin-left: 0px;
}

.carousel{
  margin-top: 3vh;
  width: 95%;
  margin-left: 2.5vw;
}

.center{
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.center > h1{
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(75, 70, 70);
  font-weight: 500;
}

.center > h3{
  font-size: 25px;
  margin-top: 1px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(182, 181, 182);
}
.center > h2{
  margin-top: 5vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(110, 105, 110);
  font-size: 30px;
}

.cities{
  margin-top: 3vh;
  display: inline-flex;
  justify-content: space-evenly;
}


.categories{
  margin-top: 3vh;
  display: inline-flex;
  justify-content: space-evenly;
}

.center > p{
  margin-top: 3vh;
  font-weight: 800;
  font-size: 22px;
  font-family: cursive;
  color: rgb(27, 174, 219);
}
.box{
  margin-top: 8vh;;
  display: flex;
  flex-direction:row;
  height: 30vh;
  width: 90%;
  margin-left: 5vw;
  background-color: rgb(26, 22, 22);
}

.box_left{
  margin-top: 5vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  float: left;
  color: white;
}

.box_right{
  margin-top: 5vh;
  margin-left: 40vw;
  display: flex;
  flex-direction: column;
  float: right;
  color: white;
}
